@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  --color-brand-green: var(--green);
  --color-brand-green-card: var(--green-card);
  --color-brand-yellow: var(--yellow);

  --color-card: var(--card);
  --color-dark-card: var(--dark-card);
  --color-line: var(--line);
  --color-brand-border: var(--border);

  --color-dark-red: var(--dark-red);
  --color-light-red: var(--light-red);
  --color-dark-blue: var(--dark-blue);
  --color-light-blue: var(--light-blue);
  --color-dark-green: var(--dark-green);
  --color-light-green: var(--light-green);
}

:root {
  --background: #ffffff;
  --foreground: #f5f5f5;
  --primary: #101828;
  --secondary: #4a5565;
  --green: #10b981;
  --green-card: #e7f8f2;
  --yellow: #facc15;
  --card: #e6e6e6;
  --dark-card: #ececec;
  --line: #d9dbdb;
  --border: #d3d3d3;
  --dark-red: #c71f1f;
  --light-red: #ffabab;
  --dark-blue: #0e49ea;
  --light-blue: #a2c7ff;
  --dark-green: #10b981;
  --light-green: #95ffdc;
}

.dark {
  --background: #1e2939;
  --foreground: #101828;
  --primary: #ffffff;
  --secondary: #99a1af;
  --green: #10b981;
  --green-card: #102931;
  --yellow: #facc15;
  --card: #18233a;
  --dark-card: #040e21;
  --line: #0e1627;
  --border: #7c7b7b;
  --dark-red: #ffabab;
  --light-red: #c71f1f;
  --dark-blue: #a2c7ff;
  --light-blue: #0e49ea;
  --dark-green: #bffbe7;
  --light-green: #10b981;
}

html {
  scroll-behavior: smooth;
}
